.App {
  text-align: center;
}

.mainText {
  position: relative;
  top: 7.5%;

  font-size: 450%;
  color: #fffaf0;
  filter: brightness(100%);
}

.subText {
  position: relative;
  top: 100px;
  font-size: 50%;

}
body {
  background-color: black;
  background-image: url(images/landscape.jpg);
}
/*

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*/

.App {
  /* The image used */
  background-image:linear-gradient(rgba(0, 0, 0, 0.5),
  rgba(0, 0, 0, 0.8)), url("images/uprooted_tree.JPG") ;



  /* Full height */
  height: 100vh; 
  
}

#resume {
  background-image:linear-gradient(rgba(0, 0, 0, 0.8),
  rgba(0, 0, 0, 0.8)), url("images/hermit_tree.JPG") ;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  outline-width: 2px;
  background-color: black;
  background: rgba(0,0,0,.025);
  height: 13%;
  outline-color: white;
  color: white;
}

header:hover {
 background: rgba(0,0,0,.25);
}


.headerContent {
  opacity: 60%;
  font-size: 125%;
  display: inline-block;
  margin-top: 1.5%;
  margin-left: 2.5%;
  margin-right: 2.5%;

  border-left-color: white;
  border-right-color:white;
  border-left-width: 1px;
  border-right-width: 1px;
  width: "20%%";
}

Link {
  opacity: 60%;
  font-size: 125%;
  display: inline-block;
  margin-top: 1.5%;
  margin-left: 2.5%;
  margin-right: 2.5%;

  border-left-color: white;
  border-right-color:white;
  border-left-width: 1px;
  border-right-width: 1px;
  width: 10%;

}

.headerContent:hover {
  opacity:90%;
  font-size: 120%;
}
#headerTitle {
  font-size: 150%;
  padding-top: .5%;
  opacity: 50%;
}

.selected_menu {
  opacity: 90%;
  font-size: 120%;
}

a {
  color: white;
}

header {
  display: flex;
  text-align: center;
}

.pageOption {
  margin-left: auto;
  margin-right: auto;
  border:rgba(0, 0, 0, 1);
  text-align: center;
}